<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}SociaLocale - Privacy Policy{% endblock %}</title>
    </head>
    <body>
      <h1>SociaLocale Privacy Policy</h1>
      <h2>Your Data</h2>

      <p>The very route purpose of SociaLocale requires a location and interests you enter. Any statistics derived from users' interests and location is anonymized during collection.</p>

      <h2>Your Actions</h2>

      <p>We do our best to provide you complete control over what is published to your Facebook account. The configuration options to do so are located on the 'Settings' panel.</p>
    </body>
</html>
