<div class="modal-header">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit Profile Info...</h3>
</div>
<div class="modal-body">
    <form id="editProfileForm" method="post" action="/user/editProfile">
        <fileupload img-src="{{ userDetails.picture }}" upload-name="mugshot"></fileupload>
        <location-autocomplete></location-autocomplete>
    </form>
    <div>
    <a href="#">Change password</a>
    </div>
    <div>
    <a href="#">Change email address</a>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" ng-click="close()" aria-hidden="true">Close</button>
    <button ng-click="submitEditProfile()" class="btn btn-primary">Save changes</button>
</div>
